  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <p style="text-align:center;"><%= f.label :email %>
    <%= f.text_field :email %></p>

    <p style="text-align:center;"><%= f.submit "Send me reset password instructions" %></p>
  <% end %>
  
  
  
  <br />
  <% semantic_form_for(@user, :url => password_path(@user), :html => {:method => :post}) do |f| %>
    <%= f.inputs do %>
      <%= f.input :email, :label => 'Email' %>
    <% end %>
    <%= f.commit_button "Send me reset password instructions" %>
  <% end %>