<div id="header">
  
  <%= logo_link %>
  
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% elsif alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
  
  <div id="header_links">
    <p><span class="white"><%= @welcome_message %></span>
      &bull;
      <%= preferences_link %></p>
      <p>
        <%= hide(link_to "Tour Jot Locker", "#") %>
<%= "#{feedback_email}&bull;#{contact_email}&bull;#{log_out_link}".html_safe %>
      </p>
  </div> <!--header links-->
</div><!--header-->