<!DOCTYPE html>
<html>
  <%= render :partial => "shared/head_tag" %>
  <%= yield :head %>
  <body>
    <div id="wrapper">
      <%= render :partial => "shared/header" %>
      <div id="three_big_pics" class="clearfix">
        <%= image_tag "top_image/tall/#{1 + rand(10)}.jpg"%>
        <%= render :partial => "shared/color_navtabs" %>
      </div><!--three_big_pics-->
      <%= yield %>
      <%= render :partial => 'shared/footer' %>
    </div><!--wrapper-->
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'application', :cache => true %>
    <%= yield :foot %>
  </body>
</html>
